.home {
    padding: 3vh 7vh;
    min-height: 90vh;
    width: 100%;

    .filter {
        margin: 1vh;
        width: 30%;

        .search {
            height: 5vh;
            width: 100%;
            padding: 0 2vh;
            font-size: 1.8vh;
            outline: none;
            border-radius: 1vh;
            border: var(--border);
            transition: all 0.3s ease;
        
            &:focus {
                border-color: var(--grey);
            }
        }
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        width: 100%;

        .noResult {
            color: var(--white);
            padding: 2.2vh;
        }
    }
}