.library {
    padding: 3vh;
    min-height: 90vh;
    width: 100%;

    .titleLibrary {
        color: var(--white);
        font-size: 3vh;
        margin: 0 0 1vh 1vh;
    }

    .gameList {
        display: flex;
        flex-wrap: wrap;
        gap: 1vh;

        .gameContainer {
            width: 48vh; // A RETIRER 

            .formCommentary {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 1vh;
                border-radius: 1vh;
                gap: 1vh;
            }
    
            textarea {
                padding: 1vh;
                height: 5vh;
                width: 90%;
                color: var(--white);
                background-color: var(--dark-black);
                border-radius: 0.8vh;
                border: var(--border);
                resize: none;

                &::placeholder {
                    color: var(--grey);
                }

                &:focus {
                    border-color: var(--grey);
                }
            } 
    
            .submitComment {
                height: 5vh;
                aspect-ratio: 1/1;
                background-color: var(--dark-black);
                background-image: url("../../assets/icon/check.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 1.5vh;
                border-radius: 1vh;
                border: var(--border);
                outline: none;
                cursor: pointer;
                transition: all 0.3s ease;
    
                &:focus {
                    border-color: var(--grey);
                }
            }
        }
    }

    .gameInfo {
        position: absolute;
        right: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        width: 40vh;
        color: var(--white);
        background-color: var(--dark-black);
        border-radius: 1vh;
        padding: 3vh;
        border: var(--border);

        .title {
            font-size: 4vh;
            font-weight: bold;
            margin-bottom: 1vh;
        }

        .price {
            font-size: 2vh;
            font-weight: bold;
            margin-bottom: 1vh;
        }

        .dateEnd {
            width: 100%;
            font-size: 1.8vh;
            color: var(--white);
            background-color: var(--light-grey);
            padding: 0.5vh 1vh;
            border: var(--border);
            border-radius: 0.6vh;
            
            &:focus {
                outline: 0.3vh solid var(--grey);
            }
        }

        .addToCart {
            height: 5vh;
            width: 100%;
            color: var(--white);
            font-size: 1.6vh;
            background-color: var(--blue);
            border-radius: 1vh;
            border: var(--border-blue);
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: var(--dark-green);
            }
        }
    }
}