.game {
    display: flex;
    justify-content: center;
    padding: 3vh;
    min-height: 90vh;
    width: 100%;

    .gameDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;

        picture {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1vh;
            border: var(--border);
            overflow: hidden;
            
            img {
                height: 100%;
                width: 100%;    
                object-fit: cover;
                transition: transform 0.5s ease;
                cursor: pointer;
                
                &:hover {
                    transform: scale(1.04);
                    // box-shadow: 0 0 10vh var(--black);
                }
            }

            .type {
                position: absolute;
                top: 2vh;
                right: 2vh;
                font-size: 1.8vh;
                width: fit-content;
                color: var(--white);    
                background-color: var(--light-grey);
                padding: 0.5vh 1vh;
                border-radius: 0.6vh;
                border: var(--border);
            }

            .pc {
                background-color: #ff7f0f;
                border-color: #d56f0f;
            }

            .xbox {
                background-color: #46d671;
                border-color: #38af5c;
            }

            .ps4 {
                background-color: #4f9bff;
                border-color: #3a7fc2;
            }

            .gameInfo {
                position: fixed;
                right: 10vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 50%;
                width: 40vh;
                color: var(--white);
                background-color: var(--dark-black);
                border-radius: 1vh;
                padding: 3vh;
                border: var(--border);
    
                .title {
                    font-size: 4vh;
                    font-weight: bold;
                    margin-bottom: 1vh;
                }
    
                .price {
                    font-size: 2vh;
                    font-weight: bold;
                    width: fit-content;
                    padding: 0.5vh 1vh;
                    background-color: var(--blue);
                    border-radius: 0.6vh;
                    border: 0.3vh solid var(--border-blue);
                    margin-bottom: 1vh;
                }

                label {
                    font-size: 1.8vh;
                }
    
                .date {
                    width: 100%;
                    font-size: 1.8vh;
                    color: var(--white);
                    background-color: var(--light-grey);
                    padding: 0.5vh 1vh;
                    border: var(--border);
                    border-radius: 0.6vh;
                    margin-top: 0.5vh;
                    margin-bottom: 1vh;
                    
                    &:focus {
                        outline: 0.3vh solid var(--grey);
                    }
                }
    
                .addToCart {
                    height: 5vh;
                    width: 100%;
                    color: var(--white);
                    font-size: 1.6vh;
                    background-color: var(--blue);
                    border: 0.3vh solid var(--border-blue);
                    border-radius: 1vh;
                    transition: all 0.3s ease;
                    cursor: pointer;
    
                    &:hover {
                        background-color: var(--border-blue);
                    }
                }
            }
        }

        .description, .commentary {
            width: 100%;
            color: var(--white);
            background-color: var(--dark-black);
            border: var(--border);
            border-radius: 1vh;
            padding: 2vh;

            .titleDescription, .titleCommentary {
                font-size: 2.5vh;
                font-weight: bold;
                line-height: 1;
                margin-bottom: 0.5vh;
            }

            .titleCommentary {
                margin-bottom: 1.2vh;
            }

            .content {
                color: var(--grey);
                font-size: 1.6vh;
                font-weight: 300;
                line-height: 1.5;
            }

            .descriptionContainer {
                display: flex;
                flex-wrap: wrap;
                gap: 1vh;
                
                p {
                    color: var(--grey);
                    font-size: 1.6vh;
                    font-weight: 300;
                    padding: 1vh 2vh;
                    border: var(--border);
                    border-radius: 1vh;
                    background-color: var(--light-grey);
                }
            }
        }
        
        // .comment {
        //     width: 100%;
        //     color: var(--white);
        //     background-color: var(--dark-black);
        //     border: var(--border);
        //     border-radius: 1vh;
        //     padding: 2vh;
            
        //     .titleComment {
        //         font-size: 2.5vh;
        //         font-weight: bold;
        //         line-height: 1;
        //         margin-bottom: 1vh;
        //     }

        //     textarea {
        //         width: 100%;
        //         padding: 1vh;
        //         font-size: 1.8vh;
        //         color: var(--white);
        //         background-color: var(--light-grey);
        //         border: var(--border);
        //         border-radius: 0.6vh;
        //         resize: none;
                
        //         &:focus {
        //             outline: 0.3vh solid var(--blue);
        //         }
        //     }

        //     .submitComment {
        //         float: right;
        //         height: 5vh;
        //         width: 8%;
        //         color: var(--white);
        //         font-size: 1.6vh;
        //         background-color: var(--green);
        //         border-radius: 1vh;
        //         border: var(--border-green);
        //         transition: all 0.3s ease;
        //         cursor: pointer;
        //         margin-top: 1vh;

        //         &:hover {
        //             background-color: var(--dark-green);
        //         }
        //     }
        // }
    }
}